* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 14px 32px;
  border-radius: 999px;
  background: white;
  border: 3px solid #ff0000;
  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-top: 50px;
  margin-left: 50px;
}

.button .icon {
  font-size: 24px;
  transition: all 0.25s ease;
}

.button .count {
  color: black;
  transition: color 0.3s ease;
  font-weight: 400;
}

.button:hover {
  background: #ff0000;
  color: white;
}

.button:hover .count {
  color: white;
}
